doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title freeCodeCamp - Advanced Node and Express
		meta(name='description', content='Home page')
		link#favicon(rel='icon', href='/public/favicon.ico', type='image/x-icon')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		link(rel='stylesheet', href='/public/style.css')
	body
		div.center
			h1.border.center freeCodeCamp - Advanced Node and Express
			h2.center Socket.IO Chat Room
			.login.center
				a(href='/auth/github') Login with GitHub!

		div.footer.text-center
			| by
			|
			a(href='https://www.freecodecamp.org', target='_blank') freeCodeCamp
			|  &amp;
			|
			a(href='https://www.freecodecamp.org/adam777', target='_blank') Adam
			|  |
			|
			a(href='https://github.com/Adam777Z/freecodecamp-backend-part-9-socketio', target='_blank') GitHub